bin/
obj/

**/bin/
**/obj/

*.log

*.dll
*.exe
*.out
*.app

*.tmp
*.temp

.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db

coverage/
*.cover/
*.coverage
*.coverlet/
